html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html, 
body { 
  overflow: hidden; 
  margin: 0; 
  padding: 0; 
  height: 100%; 
  width: 100%; 
}

body { 
  color: #fff; 
  /*font-family: 'Caesar Dressing', sans-serif; */
}

canvas { 
  width: 100%; 
  height: 100%; 
}

/*.title { 
  margin: 0;
  font-size: 12vw;
  text-align: center;
  position: fixed;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}*/